@font-face {
    font-family: 'Pixel-Text';
    src: url("../../public/font/XiaolaiSC-Regular.ttf");
}

body {
    background-image: linear-gradient(-45deg, rgba(132, 0, 255, 0.5), rgba(0, 89, 255, 0.5)),
        url('https://i.imgur.com/SBE1iqA.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    transition: all 1s ease-in-out;
    backdrop-filter: blur(1px);
}


.font-bit {
    font-family: 'Pixel-Text';
}

.box-shadow {
    box-shadow: 0 0 60px 5px #bfdbfe;
}

.box-cpweblink {
    transition: all 0.3s;
}

.box-cpweblink:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 2px #bfdbfe;
}

.box-cpimg {
    transition: all 0.3s;
}

.box-cpimg:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 2px #bfdbfe;
}

.box-cplink {
    transition: all 0.3s;
}

.box-cplink:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 2px #bfdbfe;
}

.box-btn {
    font-size: clamp(1rem, 5vw, 2rem);
}

.box-date {
    font-size: clamp(1rem, 5vw, 2rem);
}

.box-info {
    font-size: clamp(1rem, 5vw, 2rem);
}

.box-image {
    transition: all 1s;
}

.box-image:hover {
    transform: scale(1.05);
    border-radius: 5px;
    box-shadow: 0 0 30px 5px #a8a8a8;
}

.box-zoom-img{
    transition: all 2s ease-in-out;
}

.main-box-zoom-img{
    transition: all 2s ease-in-out;
}

.animation-spin {
    animation: rotate 20s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}